body {
  margin: 0;
  min-width: 400px;
  min-height: 400px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  padding: 10px 10px;
  font: normal 20px 'Bitter', serif;
  color: #2A88AD;
  margin-bottom: 5px;
}

/* Clear floats */
.header:after {
  content: "";
  display: table;
  clear: both;
}

#inputURL {
  width: 100%;
  text-align: left;
}

#inputDefaultProject {
  width: 100%;
  text-transform: uppercase;
  text-align: left;
}

#status {
  border-radius: 5px;
  color: #33cc33;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

#save {
  background: #2A88AD;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
  -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
  box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 20px;
}

#save:hover{
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

#ticketPreview {
  margin-top: 5px;
  color: #000;
  font-size: 15px;
}