div {
  width: 200px;
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.invalid {
	font-size: 14px;
}

.valid {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  width: 180px;
}

.valid:hover {
  font-size: 27px;
  background: #f6f6f6;
}

#status {
  font-size: 16px;
  color: #cc0000;
}

input {
  width: 100%;
}

#divDisplayDefault {
  font-size: 14px;
}

.text-center{
	color:rgb(0, 0, 0);
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.input-container{
	position:relative;
  margin-top: 25px;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:-12px;
	left:0px;
	font-size:12px;
	color:rgb(0, 0, 0);
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{
  border:0;
  border-bottom:1px solid #555;
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:rgb(0, 0, 0);
}
.input-container input:focus{
 border:none;
 outline:none;
 border-bottom:1px solid #3c56e7;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:14px;
}
